body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
    color: white;
}

.b {
    text-align: center;
}

.b img {
    max-width: 90%;
    height: auto;
    max-height: 90%;
    filter: brightness(0.8);
    transition: filter 0.4s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin-top: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    border: 1px solid white;
    transition: background-color 0.4s ease, border-color 0.4s ease;
    border-radius: 40px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: transform 0.4s ease, background-color 0.4s ease;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FBC02D;
}

input:checked + .slider:before {
    transform: translateX(40px);
}

.icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.sun {
    left: 8px;
}

.moon {
    right: 8px; /* Adjust position for the larger button */
}
